<div class="container">
    <div class="row p-4">
        <h2>Shopping cart</h2>
    </div>
    <div class="row p-4">
            <div class="col">
                <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">descripcion</th>
                                    <th scope="col">cantidad</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                 
                                  <% products.forEach(function(product){ %>
                                    <tr>
                                        <th scope="row"><%= product.product_id %></th>
                                        <td><%= product.name %></td>
                                        <td><%= product.price %></td>
                                        <td><%= product.description %></td>
                                        <td><%= product.q %></td>
                                        <td>
                                          <a href="#" class="btn btn-danger">remove</a>
                                        </td>
                                    </tr>
                                  <% }); %>
                                </tbody>
                              </table>
                          </div>
            </div>
            <div class="col mx-4">   
                <div class="card">
                       <div class="card-header">
                             <h3> Checkout </h3>
                        </div>
                        <div class="card-body">
                            <h3>subtotal: <%= subtotal %> </h3>
                            <h3>IVA: <%= iva %> </h3>
                        </div>  
                         <div class="card-footer p-4">
                            <div class="row">
                                <h3>Total: <%- total %> </h3>
                            </div>
                            <div class="row">
                                <form action="/pagar" method="post">
                                  <input type="hidden" name="total" value="<%= total %>">
                                  <input type="hidden" name="iva" class="form-control" id="iva" value="<%= iva %>" >
                                  <input type="hidden" name="tres_porciento_dolares" class="form-control" id="tres_porciento_dolares" value="<%= tres_porciento_dolares %>" >
                                  <button type="submit" class="btn btn-primary"> pagar </button>
                                </form>
                            </div>
                        </div>            
                </div>
            </div>
    </div>
</div>
