
<% if (product) {%>
   <div class="card shadow-sm">
    <a href="/detailsProduct/<%= product.product_id %>" >
        <img class="img-fluid" src="/<%= product.img_url %>">
    </a>
          <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text">$ <%= product.price %> </p>
                  <div class="btn-group">
                      <a class="btn btn-outline-primary" href="/detailsProduct/<%= product.product_id %>" >Ver</a>
                  </div>
          </div>
      </div>
<% } %>
